{% extends "base.html.twig" %}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/assets/css/chat.min.css">
        {% endblock %}


{% block body %}
<div id="chatArea">
    <div id="messageArea">

    </div>
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('messagerie') }}
    {% endblock %}
