{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="line">
            <div class="content-line bot m-2">
                <div class="bubble">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.
                    </p>
                </div>
                <div class="avatar">
                    <img src="/build/images/doctor.8201cf67.jpg" alt="">
                </div>
            </div>
            <div class="content-line doctor m-2">
                <div class="bubble">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.
                    </p>
                </div>
                <div class="avatar">
                    <img src="/build/images/doctor.8201cf67.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
