#chatArea #messageArea {
  margin-right: 10px !important;
  margin-left: 10px !important;
  padding-bottom: 70px !important;
}

#messageArea {
  overflow-y: hidden;
}

#message_message {
  width: 60%;
}

a {
  text-decoration: none;
  color: black;
}

.doctor {
  margin: 10px;
  background-color: #fff;
  padding: .25rem .5rem;
  width: 70%;
  border: 1px solid #0087de;
  border-radius: 10px;
  max-height: 250px;
  overflow-y: auto;

  &:nth-child(even) {
    margin-left: auto;
  }
}

form {
  margin: 8px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0;
  padding: 7px;
  background: #f9f9f9;

  .btn {
    min-width: 50px;
    max-width: 50px;
  }
}

.textarea {
  width: 55%;
}

.covid {
  width: 100%;
  background-color: #ffe599;

  p {
    padding: 1rem;
    font-weight: bold;
  }
}
